/*
      Azodi, Omid
      jadrn005
      Project #2
      Fall 2017
 */
#sdsu_marathon_header {
	color:white;
	font-size:75px;
	margin-left:auto;
	margin-right:auto;
	text-align: center;
	display:block;
}

#sdsu_logo {
	display:block;
	height:450px;
	width:500px;
	min-width:400px;
	margin-left:auto;
	margin-right:auto;
}

#body_main_page {
	background-color:red;
}

#info {
	color:white;
	font-size: 20px;
	text-align: center;
}

#sign_up {
	color:black;
	font-size:30px;
	text-align:right;
	margin-left:auto;
	margin-right:auto;
	display:block;
}

#sign_up_title {
	margin-right:auto;
	margin-left:auto;
	color:black;
	font-size: 30px;
	display:block;
	text-align: center;
	font-weight: bold;
}

#sign_up_page {
	background-color:burlywood;
	min-width:800px;
}

#form_wrapper {
	color:black;
	background-color: whitesmoke;
	margin:0 auto 0 auto;
	width:800px;
	height:1200px;
}

.med {
	margin-top:5px;
}
.name {
	margin-right:20px;
	margin-left:5px;
	margin-bottom:20px;
	width:100px;
	margin-top:10px;
}

.address {
	margin-right:50px;
	margin-bottom:10px;
	width:300px;
	display:block;
}

.address_others {
	margin-right:20px;
	margin-left:5px;
	margin-bottom:10px;
}

.contact_info {
	margin-right:20px;
	margin-left:5px;
	margin-bottom:20px;
}


#inner_form_wrapper {
	margin-left:7px;
}

#lname_required {
	color:red;
}

#fname_required {
	color:red;
}

#first_address {
	color:red;
}

#city_required {
	color:red;
}

#state_required {
	color:red;
}

#zipcode_required {
	color:red;
}

#phone_required {
	color:red;
}

#email_required {
	color:red;
}

#gender_required {
	color:red;
}

.dob_required {
	color:red;
}

#expertise_required {
	color:red;
}

#age_group_required {
	color:red;
}

#status {
	color:red;
	margin-left: auto;
	margin-right:auto;
}
